html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media screen and (min-width: 0px) {
  header {
    background-color: grey;
  }

  h1 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 1%;
  }

  nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 13rem;
    margin: auto;
    padding: 1%;
  }

  nav a {
    display: flex;
    justify-content: center;
    border: solid 0.1rem black;
  }

  a:hover {
    color: blue;
    background-color: black;
  }

  #home {
    background-color: black;
    color: white;
  }

  #home:hover {
    background-color: honeydew;
    color: grey;
  }

  a {
    background-color: honeydew;
    padding: 1%;
    color: black;
  }

  a:link {
    text-decoration: none;
    /* color: black; */
  }

  .intro {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    /* padding: %; */
  }

  h2 {
    padding: 1.2%;
  }

  .introtext p {
    text-align: center;
    padding: 1.5%;
  }

  .introtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  .intro img {
    width: 29%;
    padding: 1%;
    height: auto;
  }

  .gallery {
    display: flex;
    justify-content: center;
  }

  div.photos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.9rem;
  }

  .photos img {
    padding: 1rem;
  }

  .photos div p {
    display: flex;
    justify-content: center;
    background-color: crimson;
    padding: 0.1rem;
    margin: 0.1rem;
  }

  footer {
    display: flex;
    background-color: burlywood;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  footer div a {
    padding: 0.5rem;
    border-style: solid;
    border: solid 0.1rem black;
  }

  footer div p {
    padding: 1rem;
  }

  footer div a:hover {
    background-color: black;
    color: grey;
  }
}

@media screen and (min-width: 558px) {
  h1 {
    justify-content: flex-start;
  }

  nav {
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 13rem;
    margin: 0;
    padding: 1%;
  }

  nav a {
    padding: 2%;
    border: none;
  }
}

@media screen and (min-width: 800px) {
  .intro {
    flex-flow: row wrap;
    justify-content: center;
  }

  .introtext {
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
  }

  .introtext p {
    text-align: start;
  }
}
